.vscode/
*.tfstate*
terraform.tfvars
tmp

# python compiled files
*.pyc

# libraries
lib/

# terraform
.terraform/
**/.terraform/
**/terraform.tfvars
**/tf.plan*
**/*.tfstate.backup

# env files
*.env
